@use './base';
@use './partials/animations';
@import 'primeicons/primeicons.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

// @media screen and (-webkit-min-device-pixel-ratio: 1.25) {
//   body {
//     zoom: 0.8;
//   }
// }

// @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
//   body {
//     zoom: 0.67;
//   }
// }

html,
body,
main,
section {
  height: 100%;
}

:root {
  --app-bg-light: #f3f4f6;
  --app-bg-dark: #121212;
  --app-text-light: #121212;
  --app-text-dark: #fbfbfb;
}

.app-light {
  background-color: var(--app-bg-light);
  color: var(--app-text-light);
}

.app-dark {
  background-color: var(--app-bg-dark);
  color: var(--app-text-dark);
}

body {
  margin: 0;
  font-family: var(--font-family);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
