<div class="p-5 h-108">
  <div
    class="flex h-full flex-col items-center justify-center py-10 border border-surface-300 bg-surface-100 rounded-xl p-5"
  >
    <div
      class="h-30 bg-amber-200 border-5 border-amber-300 rounded-full w-30 flex items-center justify-center mb-4"
    >
      <i class="pi pi-folder-open text-6xl! text-muted-color-emphasis ml-2"></i>
    </div>
    <h2 class="text-2xl font-medium mb-2">No Data Found</h2>
    <p class="text-sm text-muted-color">
      Select your criteria above and click Search to view the data.
    </p>
  </div>
</div>
