.notification-button {
  position: relative;

  ::ng-deep .p-badge {
    top: 2px;
    right: 2px;
    position: absolute;
  }
}

.header-menubar {
  ::ng-deep .p-menubar-submenu {
    z-index: 1000 !important;
  }
}