// $time-function: cubic-bezier(0.25, 0.1, 0.25, 1);
// $duration: 3s;
// $delay: 0s;

// :host {
//   background-color: var(--app-bg-light);
// }

// :host-context(.app-dark) {
//   background-color: var(--app-bg-dark);
// }

// .loader-container {
//   width: 84px;
//   height: 84px;
//   position: relative;

//   .box1,
//   .box2,
//   .box3 {
//     border: 8px solid var(--app-text-light);
//     box-sizing: border-box;
//     position: absolute;
//     display: block;
//     border-radius: 16px;
//   }

//   .box1 {
//     width: 84px;
//     height: 36px;
//     margin-top: 48px;
//     margin-left: 0;
//     animation: anime1 $duration $delay forwards $time-function infinite;
//   }

//   .box2 {
//     width: 36px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 0;
//     animation: anime2 $duration $delay forwards $time-function infinite;
//   }

//   .box3 {
//     width: 36px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 48px;
//     animation: anime3 $duration $delay forwards $time-function infinite;
//   }
// }

// :host-context(.app-dark) .loader-container {
//   .box1,
//   .box2,
//   .box3 {
//     border-color: var(--app-text-dark);
//   }
// }

// @keyframes anime1 {
//   0% {
//     width: 84px;
//     height: 36px;
//     margin-top: 48px;
//     margin-left: 0;
//   }
//   12.5% {
//     width: 36px;
//     height: 36px;
//     margin-top: 48px;
//     margin-left: 0;
//   }
//   25%,
//   37.5%,
//   50%,
//   62.5% {
//     width: 36px;
//     height: 36px;
//     margin-top: 48px;
//     margin-left: 0;
//   }
//   75% {
//     width: 36px;
//     height: 84px;
//     margin-top: 0;
//     margin-left: 0;
//   }
//   87.5%,
//   100% {
//     width: 36px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 0;
//   }
// }

// @keyframes anime2 {
//   0%,
//   12.5%,
//   25%,
//   37.5% {
//     width: 36px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 0;
//   }
//   50% {
//     width: 84px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 0;
//   }
//   62.5%,
//   75%,
//   87.5%,
//   100% {
//     width: 36px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 48px;
//   }
// }

// @keyframes anime3 {
//   0%,
//   12.5% {
//     width: 36px;
//     height: 36px;
//     margin-top: 0;
//     margin-left: 48px;
//   }
//   25% {
//     width: 36px;
//     height: 84px;
//     margin-top: 0;
//     margin-left: 48px;
//   }
//   37.5%,
//   50%,
//   62.5%,
//   75%,
//   87.5% {
//     width: 36px;
//     height: 36px;
//     margin-top: 48px;
//     margin-left: 48px;
//   }
//   100% {
//     width: 84px;
//     height: 36px;
//     margin-top: 48px;
//     margin-left: 0;
//   }
// }

/* HTML: <div class="loader"></div> */
.loader {
  height: 50px;
  aspect-ratio: 2;
  border: 10px solid #000;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side, #fff 98%, #0000) left/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) left/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) center/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) right/20px 20px,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l14 1s infinite;
}
@keyframes l14 {
  100% {
    background-position: right, left, center, right;
  }
}
