<div class="p-5">
  <p-splitter
    [minSizes]="[30, 30]"
    [panelSizes]="[60, 40]"
    class="w-full h-[80dvh] splitter-invoice"
  >
    <ng-template #panel>
      <div class="h-full overflow-y-auto">
        <div class="border border-surface bg-primary-contrast rounded-2xl py-5 px-5 flex flex-col">
          <div class="flex w-full justify-between items-center">
            <div class="flex flex-col">
              <h1 class="text-3xl font-medium mb-1">Invoice Review</h1>
              <p class="text-sm text-muted-color mb-2">
                Review invoices, approve or reject them. Change tabs for viewing the invoices
              </p>
            </div>
            <p-select
              class="mb-4 w-80"
              panelStyleClass="w-60"
              [options]="invoiceOptions()"
              [ngModel]="selectedInvoiceId()"
              (ngModelChange)="onInvoiceSelect($event)"
              [filter]="true"
              [showClear]="true"
              placeholder="Select Vendor"
            />
          </div>
          <p-tabs [value]="selectedTabValue()" scrollable>
            <p-tablist>
              @for(invoice of invoiceData(); track invoice.basicInformation.invoiceNo){
              <p-tab
                [value]="invoice.basicInformation.invoiceNo"
                [pTooltip]="invoice.basicInformation.vendorName"
                tooltipPosition="top"
              >
                {{
                  invoice.basicInformation.vendorName.length > 15
                    ? invoice.basicInformation.vendorName.substring(0, 15) + '...'
                    : invoice.basicInformation.vendorName
                }}
              </p-tab>

              }
            </p-tablist>
            <p-tabpanels>
              @for(invoice of invoiceData(); track invoice.basicInformation.invoiceNo){
              <p-tabpanel [value]="invoice.basicInformation.invoiceNo">
                <div class="text-3xl grid grid-cols-12 py-2 font-medium mb-3 @container">
                  <div class="col-span-12 @2xl:col-span-5 flex items-center">
                    <div class="mr-6">
                      {{ invoice.basicInformation.vendorName }}
                    </div>
                    <p-tag
                      class="h-max capitalize"
                      [value]="invoice.invoiceStatus"
                      [severity]="utilityService.getSeverity(invoice.invoiceStatus)"
                    />
                  </div>
                  <div
                    class="col-span-12 mt-2 @2xl:mt-0 @2xl:col-span-7 flex justify-end text-primary"
                  >
                    @if (editMode()) {
                    <div class="flex items-start gap-4">
                      <p-button
                        icon="pi pi-check-circle"
                        label="Save Edit"
                        severity="success"
                        variant="outlined"
                        (onClick)="saveChanges()"
                      />
                      <p-button
                        icon="pi pi-times-circle"
                        variant="outlined"
                        severity="contrast"
                        label="Cancel Edit"
                        class="mr-2"
                        (onClick)="cancelEdit()"
                      />
                    </div>
                    } @else {
                    <p-button
                      icon="pi pi-pencil"
                      variant="outlined"
                      severity="contrast"
                      label="Edit Invoice"
                      class="mr-2"
                      (onClick)="toggleEditMode()"
                    />
                    }
                    <p-button
                      icon="pi pi-envelope"
                      variant="outlined"
                      severity="contrast"
                      label="View Email"
                      class="mr-2"
                      (onClick)="viewEmail(invoice)"
                    />
                  </div>
                </div>
                <div class="mb-4 border border-surface rounded-xl">
                  <div class="bg-slate-100 dark:bg-slate-800 rounded-xl rounded-b-none shadow-sm">
                    <div class="text-xl font-medium pl-4 pt-2">Basic Information</div>
                  </div>

                  <div class="grid grid-cols-12 gap-3 mt-4 px-4 pb-2 @container">
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Vendor Name</div>
                      <div class="font-medium">{{ invoice.basicInformation.vendorName }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Portfolio Name</div>
                      <div class="font-medium">{{ invoice.basicInformation.portfolioName }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Invoice No</div>
                      <div class="font-medium">{{ invoice.basicInformation.invoiceNo }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Invoice Date</div>
                      <div class="font-medium">{{ invoice.basicInformation.invoiceDate }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Invoice Due Date</div>
                      <div class="font-medium">{{ invoice.basicInformation.invoiceDueDate }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Fund Balance</div>
                      <div class="font-medium">{{ invoice.basicInformation.fundBalance }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Payable Amount</div>
                      <div class="font-medium">{{ invoice.basicInformation.payableAmount }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">
                        Amount Paid as on date
                      </div>
                      <div class="font-medium">
                        {{ invoice.basicInformation.amountPaidAsOnDate }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-4 border border-surface rounded-xl">
                  <div class="bg-slate-100 dark:bg-slate-800 rounded-xl rounded-b-none shadow-sm">
                    <div class="text-xl font-medium pl-4 pt-2">Financial Details</div>
                  </div>

                  <div class="grid grid-cols-12 gap-3 mt-4 px-4 pb-2 @container">
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Local Ccy (Vendor)</div>
                      <div class="font-medium">{{ invoice.financialDetails.vendorCcy }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Tax Type</div>
                      @if (editMode()) {
                      <p-select class="w-full" [options]="taxTypeOptions()" />
                      } @else {
                      <div class="font-medium">{{ invoice.financialDetails.taxType }}</div>
                      }
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Net Amount</div>
                      <div class="font-medium">{{ invoice.financialDetails.invoiceNetAmount }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Tax %</div>
                      <div class="font-medium">{{ invoice.financialDetails.taxPercent }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Local Tax Amount</div>
                      <div class="font-medium">{{ invoice.financialDetails.taxAmount }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Gross Amount</div>
                      <div class="font-medium">
                        {{ invoice.financialDetails.invoiceGrossAmount }}
                      </div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">FX (per ECB)</div>
                      <div class="font-medium">{{ invoice.financialDetails.fxBaseCcy }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3"></div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Base Ccy (Entity)</div>
                      <div class="font-medium">{{ invoice.financialDetails.entityCcy }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Net Amount</div>
                      <div class="font-medium">{{ invoice.financialDetails.netAmount }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Tax Amount</div>
                      <div class="font-medium">
                        {{ invoice.financialDetails.taxAmountEntityCcy }}
                      </div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Gross Amount</div>
                      <div class="font-medium">
                        {{ invoice.financialDetails.baseCcyGrossAmount }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-4 border border-surface rounded-xl @container">
                  <div class="bg-slate-100 dark:bg-slate-800 rounded-xl rounded-b-none shadow-sm">
                    <div class="text-xl font-medium pl-4 pt-2">Payment Information</div>
                  </div>
                  <div class="grid grid-cols-12 gap-3 mt-4 px-4 pb-2">
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Fee Type</div>
                      @if (editMode()) {
                      <p-select class="w-full" optionLabel="name" [options]="feeTypeOptions()" />
                      } @else {
                      <div class="font-medium">{{ invoice.paymentInformation.feeType }}</div>
                      }
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Paid By</div>
                      @if (editMode()) {
                      <p-select class="w-full" optionLabel="label" [options]="paidByOptions()" />
                      } @else {
                      <div class="font-medium">{{ invoice.paymentInformation.paidBy }}</div>
                      }
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Paid from</div>
                      @if (editMode()) {
                      <p-select class="w-full" optionLabel="name" [options]="fundOptions()" />
                      } @else {
                      <div class="font-medium">{{ invoice.paymentInformation.paidFrom }}</div>
                      }
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Released Bank</div>
                      <div class="font-medium">{{ invoice.paymentInformation.releasedBank }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">
                        Description as per Invoice
                      </div>
                      <div class="font-medium">
                        {{ invoice.paymentInformation.descriptionAsPerInvoice }}
                      </div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Description Service</div>
                      @if (editMode()) {
                      <p-select
                        class="w-full"
                        [options]="serviceDescriptionOptions()"
                        [editable]="true"
                      />
                      } @else {
                      <div class="font-medium">
                        {{ invoice.paymentInformation.descriptionService }}
                      </div>
                      }
                    </div>
                    <div class="col-span-12 lg:col-span-4 xl:col-span-6">
                      <div class="text-muted-color uppercase text-xs mb-1">
                        Classification for Accounting
                      </div>
                      @if (editMode()) {
                      <p-select
                        class="w-full"
                        [options]="serviceDescriptionOptions()"
                        [editable]="true"
                      />
                      } @else {
                      <div class="font-medium">
                        {{ invoice.paymentInformation.classificationForAccounting }}
                      </div>
                      }
                    </div>
                  </div>
                </div>

                <div class="mb-4 border border-surface rounded-xl">
                  <div class="bg-slate-100 dark:bg-slate-800 rounded-xl rounded-b-none shadow-sm">
                    <div class="text-xl font-medium pl-4 pt-2">Approvals</div>
                  </div>

                  <div class="grid grid-cols-12 gap-3 mt-4 px-4 pb-2 @container">
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Reviewed by</div>
                      <div class="font-medium">{{ invoice.approvals.reviewedBy }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Reviewed Date</div>
                      <div class="font-medium">{{ invoice.approvals.reviewedDate }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Approved by</div>
                      <div class="font-medium">{{ invoice.approvals.approvedBy }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Approved Date</div>
                      <div class="font-medium">{{ invoice.approvals.approvedDate }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Released by</div>
                      <div class="font-medium">{{ invoice.approvals.releasedBy }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Released Date</div>
                      <div class="font-medium">{{ invoice.approvals.releasedDate }}</div>
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Paid from</div>
                      @if (editMode()) {
                      <p-select class="w-full" optionLabel="name" [options]="fundOptions()" />
                      } @else {
                      <div class="font-medium">{{ invoice.paymentInformation.paidFrom }}</div>
                      }
                    </div>
                    <div class="col-span-12 @xl:col-span-4 @2xl:col-span-3">
                      <div class="text-muted-color uppercase text-xs mb-1">Paid Date</div>
                      <div class="font-medium">{{ invoice.approvals.paidDate }}</div>
                    </div>
                  </div>
                </div>

                <div class="flex justify-between">
                  <p-button
                    icon="pi pi-times-circle"
                    severity="danger"
                    label="Reject Invoice"
                    class="mr-2"
                    (onClick)="showApproveDialog(invoice, 'reject')"
                  />
                  <p-button
                    icon="pi pi-clone"
                    variant="outlined"
                    severity="contrast"
                    label="Split Invoice"
                    class="mr-2"
                    (onClick)="splitInvoice(invoice)"
                  />

                  <p-button
                    icon="pi pi-file-check"
                    variant="outlined"
                    severity="contrast"
                    label="View Agreement"
                    class="mr-2"
                  />
                  <p-button
                    icon="pi pi-check-circle"
                    severity="success"
                    label="Approve Invoice"
                    class="mr-2"
                    (onClick)="showApproveDialog(invoice, 'approve')"
                  />
                </div>
              </p-tabpanel>
              }
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>
    </ng-template>
    <ng-template #panel>
      <div class="">
        <div
          class="border border-surface bg-primary-contrast rounded-2xl py-5 px-5 flex flex-col h-full"
        >
          <div class="grid grid-cols-12">
            <div class="col-span-6 flex flex-col">
              <h1 class="text-3xl font-medium mb-1">Invoice PDF View</h1>
              <p class="text-sm text-muted-color mb-2">Review the invoice PDF here</p>
            </div>
            <div class="col-span-6 flex items-center justify-end">
              <p-button
                icon="pi pi-save"
                variant="outlined"
                severity="contrast"
                label="Save Invoice PDF"
              />
            </div>
          </div>
          <div class="h-full">
            <ngx-extended-pdf-viewer
              [src]="'assets/sample-invoice.pdf'"
              [height]="'100%'"
              [textLayer]="true"
              [showSecondaryToolbarButton]="false"
              [showDownloadButton]="false"
              [showPrintButton]="false"
              [showOpenFileButton]="false"
              [zoom]="'page-width'"
              [showDrawEditor]="true"
              [showTextEditor]="true"
              [showHighlightEditor]="true"
              [showRotateButton]="false"
              [showStampEditor]="false"
            ></ngx-extended-pdf-viewer>
          </div>
        </div>
      </div>
    </ng-template>
  </p-splitter>
</div>

<p-dialog [modal]="true" [visible]="confirmDialogVisible()">
  <ng-template #headless>
    <div class="min-w-150">
      <div class="py-3 shadow-3xl px-3 flex justify-between items-center border-b border-surface">
        <span class="text-2xl font-semibold">
          @if (reviewConfirmType() === 'approve') { Approve Invoice } @else { Reject Invoice }
        </span>
        <p-button
          (onClick)="cancelApproveDialog()"
          icon="pi pi-times"
          size="small"
          variant="outlined"
          severity="contrast"
        />
      </div>
      <div class="">
        <div
          [ngClass]="{
            'bg-emerald-100': reviewConfirmType() === 'approve',
            'bg-red-100': reviewConfirmType() === 'reject'
          }"
          class="px-3 py-3 flex items-center"
        >
          <div
            [ngClass]="{
              'text-emerald-600 pi-verified': reviewConfirmType() === 'approve',
              'text-red-600 pi-times-circle': reviewConfirmType() === 'reject'
            }"
            class="pi mr-4 text-5xl!"
          ></div>
          @if (reviewConfirmType() === 'approve') {
          <div
            class="font-semibold"
            [ngClass]="{
              'dark:text-emerald-600': reviewConfirmType() === 'approve',
            }"
          >
            Are you sure you want to approve {{ invoiceToApprove().basicInformation?.invoiceNo }}
          </div>
          } @else {
          <div
            class="font-semibold"
            [ngClass]="{
              'dark:text-red-600': reviewConfirmType() === 'reject'
            }"
          >
            Are you sure you want to reject {{ invoiceToApprove().basicInformation?.invoiceNo }}
          </div>
          }
        </div>
      </div>
      <div class="px-3">
        <div class="mt-4 text-muted-color mb-1">Please provide your comments below</div>
        <textarea fluid rows="3" pTextarea></textarea>
      </div>
      <div class="mt-4 px-3 py-2">
        <div class="flex justify-between">
          <p-button
            icon="pi pi-times-circle"
            variant="outlined"
            severity="contrast"
            label="Cancel"
            (onClick)="cancelApproveDialog()"
          />
          @if (reviewConfirmType() === 'approve') {
          <p-button
            (onClick)="approveInvoice()"
            icon="pi pi-check-circle"
            severity="contrast"
            label="Approve"
          />
          } @if (reviewConfirmType() === 'reject') {
          <p-button
            (onClick)="rejectInvoice()"
            icon="pi pi-times-circle"
            severity="contrast"
            label="Reject"
          />
          }
        </div>
      </div>
    </div>
  </ng-template>
</p-dialog>
