<div class="flex align-items-center justify-end w-full rounded-t-5xl">
  <p-buttongroup class="btn-dialog-header-group">
    <p-button
      variant="outlined"
      severity="contrast"
      icon="pi pi-minus"
      styleClass="p-1! border-[0]!"
      (click)="minimizeDialog()"
    />
    <p-button
      variant="outlined"
      severity="contrast"
      icon="pi pi-clone"
      styleClass="p-1! border-[0]!"
      (click)="maximizeDialog()"
    />
    <p-button
      variant="outlined"
      severity="contrast"
      icon="pi pi-times"
      styleClass="p-1! border-[0]! btn-close"
      (click)="closeDialog()"
    />
  </p-buttongroup>
</div>
