:root .p-button {
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;
}

.btn-menu {
  display: flex !important;
  justify-content: start !important;
  padding-left: 0 !important;
  border: none !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
