.p-inputtext,
.p-select,
.p-multiselect,
.p-textarea {
  border-radius: 0.75rem !important;
}

p-table {
  p-columnfilterformelement {
    input {
      font-size: 10px !important;
    }
  }
}

.required {
  &::after {
    content: ' *';
    color: red;
  }
}

.required-tag::after {
  content: ' Required';
  margin-left: 0.5rem;
  font-size: 0.75rem;
  color: #dc2626;
  background-color: #fee2e2;
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
}
