<div class="p-5">
  <div class="border border-surface bg-primary-contrast rounded-2xl py-5 px-5">
    <div class="flex justify-between items-center mb-4">
      <div>
        <h1 class="text-3xl font-medium mb-1">Invoice Add</h1>
        <p class="text-sm text-muted-color">Add new invoices to the system</p>
      </div>
    </div>

    <div class="border border-surface bg-primary-contrast rounded-t-xl">
      <div
        class="grid grid-cols-12 gap-y-5 gap-x-4 py-5 px-5 bg-slate-100 dark:bg-slate-800 rounded-t-xl shadow-inner"
      >
        <div class="col-span-2">
          <div>Vendor Name</div>
          <p-select
            fluid
            [options]="vendors"
            optionLabel="displayName"
            optionValue="displayName"
            placeholder="Select vendor"
            [(ngModel)]="newInvoice().vendorName"
            (ngModelChange)="updateInvoiceField('vendorName', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Invoice Type</div>
          <p-select
            fluid
            [options]="invoiceTypes"
            optionLabel="name"
            optionValue="name"
            placeholder="Select type"
            [(ngModel)]="newInvoice().invoiceType"
            (ngModelChange)="updateInvoiceField('invoiceType', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Invoice No</div>
          <input
            placeholder="e.g. INV-2024-001"
            fluid
            type="text"
            pInputText
            [(ngModel)]="newInvoice().invoiceNo"
            (ngModelChange)="updateInvoiceField('invoiceNo', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Invoiced Fund Name</div>
          <p-select
            fluid
            [options]="funds"
            optionLabel="name"
            optionValue="name"
            placeholder="Select fund"
            [(ngModel)]="newInvoice().invoicedFundName"
            (ngModelChange)="updateInvoiceField('invoicedFundName', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Invoice Date</div>
          <p-datepicker
            placeholder="Select date"
            fluid
            [(ngModel)]="newInvoice().invoiceDate"
            (ngModelChange)="updateInvoiceField('invoiceDate', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Invoice Due Date</div>
          <p-datepicker
            placeholder="Select date"
            fluid
            [(ngModel)]="newInvoice().invoiceDueDate"
            (ngModelChange)="updateInvoiceField('invoiceDueDate', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Fee Type</div>
          <p-select
            fluid
            [options]="feeTypes"
            optionLabel="name"
            optionValue="name"
            placeholder="Select fee type"
            [(ngModel)]="newInvoice().feeType"
            (ngModelChange)="updateInvoiceField('feeType', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Vendor Ccy</div>
          <input
            placeholder="USD, EUR, GBP..."
            fluid
            type="text"
            pInputText
            [(ngModel)]="newInvoice().vendorCcy"
            (ngModelChange)="updateInvoiceField('vendorCcy', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Net Amount</div>
          <input
            placeholder="0.00"
            fluid
            type="number"
            pInputText
            [(ngModel)]="newInvoice().netAmount"
            (ngModelChange)="updateInvoiceField('netAmount', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Tax Amount</div>
          <input
            placeholder="0.00"
            fluid
            type="number"
            pInputText
            [(ngModel)]="newInvoice().taxAmount"
            (ngModelChange)="updateInvoiceField('taxAmount', $event)"
          />
        </div>
        <div class="col-span-2">
          <div>Gross Amount</div>
          <input
            placeholder="0.00"
            fluid
            type="number"
            pInputText
            [(ngModel)]="newInvoice().grossAmount"
            (ngModelChange)="updateInvoiceField('grossAmount', $event)"
          />
        </div>
        <div class="col-span-2 p-0 flex items-end justify-end">
          <p-button
            icon="pi pi-file-plus"
            severity="contrast"
            label="Add Invoice"
            (click)="addInvoice()"
          />
        </div>
      </div>

      <div class="col-span-12">
        @if (addedInvoice().length > 0) {
        <p-table
          [value]="addedInvoice()"
          dataKey="id"
          stripedRows="true"
          size="small"
          showGridlines="true"
          [scrollable]="true"
          scrollHeight="400px"
          [resizableColumns]="true"
          columnResizeMode="expand"
        >
          <ng-template #header>
            <tr>
              <th pResizableColumn>Vendor Name</th>
              <th pResizableColumn>Invoice Type</th>
              <th pResizableColumn>Invoice Date</th>
              <th pResizableColumn>Invoice No</th>
              <th pResizableColumn>Invoice Due Date</th>
              <th pResizableColumn>Invoiced Fund Name</th>
              <th pResizableColumn>Vendor CCy</th>
              <th pResizableColumn>Fee Type</th>
              <th pResizableColumn>Net Amount</th>
              <th pResizableColumn>Tax Amount</th>
              <th pResizableColumn>Gross Amount</th>
              <th pResizableColumn>Actions</th>
            </tr>
          </ng-template>
          <ng-template #body let-invoice>
            <tr>
              <td>
                @if (editingInvoice() === invoice.id) {
                <p-select
                  [(ngModel)]="invoice.vendorName"
                  [options]="vendors"
                  optionLabel="displayName"
                  optionValue="displayName"
                />
                } @else {
                {{ invoice.vendorName }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <p-select
                  [(ngModel)]="invoice.invoiceType"
                  [options]="invoiceTypes"
                  optionLabel="name"
                  optionValue="name"
                />
                } @else {
                {{ invoice.invoiceType }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <p-datepicker [(ngModel)]="invoice.invoiceDate" />
                } @else {
                {{ invoice.invoiceDate | date : 'shortDate' }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <input [(ngModel)]="invoice.invoiceNo" pInputText />
                } @else {
                {{ invoice.invoiceNo }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <p-datepicker [(ngModel)]="invoice.invoiceDueDate" />
                } @else {
                {{ invoice.invoiceDueDate | date : 'shortDate' }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <p-select
                  [(ngModel)]="invoice.invoicedFundName"
                  [options]="funds"
                  optionLabel="name"
                  optionValue="name"
                />
                } @else {
                {{ invoice.invoicedFundName }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <input [(ngModel)]="invoice.vendorCcy" pInputText />
                } @else {
                {{ invoice.vendorCcy }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <p-select
                  [(ngModel)]="invoice.feeType"
                  [options]="feeTypes"
                  optionLabel="name"
                  optionValue="name"
                />
                } @else {
                {{ invoice.feeType }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <input [(ngModel)]="invoice.netAmount" type="number" pInputText />
                } @else { ${{ invoice.netAmount | number }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <input [(ngModel)]="invoice.taxAmount" type="number" pInputText />
                } @else { ${{ invoice.taxAmount | number }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <input [(ngModel)]="invoice.grossAmount" type="number" pInputText />
                } @else { ${{ invoice.grossAmount | number }}
                }
              </td>
              <td>
                @if (editingInvoice() === invoice.id) {
                <div class="flex gap-2">
                  <p-button
                    icon="pi pi-check"
                    size="small"
                    severity="success"
                    (click)="saveInvoice(invoice.id)"
                  />
                  <p-button
                    icon="pi pi-times"
                    size="small"
                    variant="outlined"
                    severity="contrast"
                    (click)="cancelEdit()"
                  />
                </div>
                } @else {
                <div class="flex gap-2">
                  <p-button
                    icon="pi pi-pencil"
                    size="small"
                    variant="outlined"
                    severity="contrast"
                    (click)="editInvoice(invoice.id)"
                  />
                  <p-button
                    icon="pi pi-trash"
                    size="small"
                    variant="outlined"
                    severity="danger"
                    (click)="deleteInvoice(invoice.id)"
                  />
                </div>
                }
              </td>
            </tr>
          </ng-template>
        </p-table>
        } @else {
        <div class="p-5">
          <div
            class="border rounded-2xl border-surface border-dashed h-96 flex items-center justify-center text-muted-color text-lg"
          >
            Add an invoice to see details here.
          </div>
        </div>
        }
      </div>
    </div>
    <div class="flex justify-end mt-4">
      <p-button icon="pi pi-check-circle" severity="contrast" label="Save for Review" />
    </div>
  </div>
</div>
